/*Variables*/
$yellow: #f9fd06;
$white: #FFFFFF;
$black: #000000;
$gradientYellow: rgba(248, 253, 6, 0.36);
$gradienteBlack: rgba(0, 0, 0, 0.63);
$redBg: rgb(253, 237, 237);
$redFonts:rgb(95, 33, 32);
$redBorder:rgb(239, 83, 80);
$green: rgb(76, 175, 80);

// $red: rgb(253, 237, 237);
$greenFonts:rgb(30, 70, 32);
// $redIcons:rgb(239, 83, 80);
// $greenIcons:rgb(76, 175, 80);

