@import "../../../variables.scss";

.register-container{
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 58px auto;
  background: $gradienteBlack;
  border-radius: 25px;
}

.register-logo-container{
  width: 500px;
  height: auto;
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

.logo-register{
  width: 70%;
  height: auto;
}

.register-form-container{
  width: 500px;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;

    form{
        width: 70%;
        height: 320px;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
    
        .input-form-register{
          width: 300px;
          height: 40px;
          margin: 0 auto 15px auto;
          border-radius: 15px;
          padding: 0px 12px;
          font-size: 14px;
          border: 2px solid $yellow;
    
          ::-webkit-input-form-register-placeholder{
            color: $gradienteBlack;
          }
        }
      }
    }

p{
  color: $yellow;
  margin: auto auto 15px 15px;
}

.register-form-perfil {
  display: flex;
  flex-direction: row;
  margin: 0px auto 25px 15px;
}   
    
.register-perfil{
  display: flex;
  align-items: center;
  color: $yellow;
}
.register-perfil label {
  cursor: pointer;
  padding-left: 7px;
  padding-inline-end: 30px;
}   
    
.form-perfil{
  cursor: pointer;
  appearance: none;
  // background: red;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: none;
  border: 2px solid $yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}    
        
    .form-perfil:before {
      content: '';
      height: 15px;
      height: 15px;
      width: 15px;
      background: $yellow;
      border-radius: 50%;
      opacity: 0;
      transition: all 600ms ease-in-out;
    }
    .form-perfil:checked:before{
      opacity: 1;
    }
    .form-perfil:focus {
    box-shadow: 0 0 28px rgb(141, 143, 112);
    }

.button-register{ 
  width: 328px;
  height: 44px;
  background: $yellow;
  margin:0 auto;
  padding: 0px 12px;
  border-radius: 15px;
  border: 2px solid $yellow;
  font-weight: 900;
  font-size: 16px;
  cursor: pointer;
}        
    
    .button-register:hover{
      background-color: $black;
      color: $yellow;
    }
      
.text-register{
  color: $yellow;
  font-weight: normal;
  margin-top: 40px;
}
  
a{
  text-decoration: none;
  color: $yellow;
  font-weight: 700;
}    










    
  
 