<section class="register-container">
  <div class="register-logo-container">
    <img class="logo-register" src="../../../assets/image/logo.png" alt="logo Burger Queen" />
  </div>
  <div class="register-form-container">
    <form [formGroup]="formRegister" (ngSubmit)="getformRegister($event)">
      <input type="text" formControlName="name" class="input-form-register" placeholder="Nombre" />
      <input type="email"  formControlName="email" class="input-form-register" placeholder="Ingrese su correo electrónico" />
      <input type="password" formControlName="password" class="input-form-register" placeholder="Contraseña" />
      <!-- <legend> -->
        <p>Elija su perfil:</p>
      <!-- </legend> -->
      <div class="register-form-perfil">
        <div class="register-perfil">
          <input class="form-perfil" formControlName="mesero" name="perfil" type="radio" value="mesero" id="radio1" checked />
          <label for="radio1">Mesero</label>
        </div>

        <div class="register-perfil">
          <input class="form-perfil" ormControlName="cocinero" id="radio2" name="perfil" type="radio" value="cocinero" />
          <label for="radio2">Cocinero</label>
        </div>
      </div>

      <button type="submit" class="button-register">REGISTRARTE</button>
    </form>
    <div>
      <p class="text-register">
        ¿Tienes una cuenta?
        <a href="iniciarsesión">Inicia sesión</a>
      </p>
    </div>
  </div>
</section>