<section class="login-container">
  <div class="login-logo-container">
    <img class="logo" src="../../../assets/image/logo.png" alt="logo Burger Queen" />
  </div>
  <div class="login-form-container">
    <form>
      <input type="email" placeholder="Ingrese su correo electrónico">
      <input type="password" placeholder="Contraseña">
      <button class="button-login">INICIAR SESION</button>
    </form>
    <div>
      <p>¿No tienes una cuenta?
        <a href="Registrate">Regístrate</a>
      </p>
    </div>
  </div>
</section>
