<section class="login-container">
  <div class="login-logo-container">
    <img class="logo" src="../../../assets/image/logo.png" alt="logo Burger Queen" />
  </div>
  <div class="login-form-container">
    <!--PARA MOSTRAR LOS ERRORES EN EMAIL-->
    <div *ngIf="form.get('email')!.errors && form.get('email')!.touched" class="text-error">
      <p *ngIf="form.get('email')!.hasError('required')">El campo email es requerido</p>
      <p *ngIf="form.get('email')!.hasError('email')"> ingrese un correo válido </p>
    </div>
    <!--PARA MOSTRAR LOS ERRORES EN PASSWORD-->
    <div *ngIf="form.get('password')!.errors && form.get('password')!.touched" class="text-error">
      <p *ngIf="form.get('password')!.hasError('required')"> El campo password es requerido </p>
      <p *ngIf="form.get('password')!.hasError('minlength')"> El password no puede ser menor a 7 caracteres </p>
      <p *ngIf="form.get('password')!.hasError('maxlength')"> El password no puede ser mayor a 10 caracteres</p>
    </div>
    <form [formGroup]="form" novalidate (ngSubmit)="getLogin($event)">
      <input
        formControlName="email"
        type="email"
        placeholder="Ingrese su correo electrónico"
        [ngClass]="{
          'on-error':form.get('email')!.errors && form.get('email')!.touched,
          'on-default': form.get('email')!.untouched,
          'on-success':!form.get('email')!.errors && form.get('email')!.touched
        } "
        />
        <input
        formControlName="password"
        type="password"
        placeholder="Contraseña"
        [ngClass]="{
          'on-error':form.get('password')!.errors && form.get('password')!.touched,
          'on-default': form.get('password')!.untouched,
          'on-success':!form.get('password')!.errors && form.get('password')!.touched
        } "
        />
        <button type="submit" class="button-login">INICIAR SESION</button>
    </form>
    <div>
      <p>¿No tienes una cuenta?
        <a href="register">Regístrate</a>
      </p>
    </div>
  </div>
</section>
